# Stage 09 — Homework Notebook

In the lecture, we learned how to create engineered features. Now it’s your turn to apply those ideas to your own project data.

In [2]:
import pandas as pd
import numpy as np

# Example synthetic data (replace with your project dataset)
np.random.seed(0)
n = 100
df = pd.DataFrame({
    'income': np.random.normal(60000, 15000, n).astype(int),
    'monthly_spend': np.random.normal(2000, 600, n).astype(int),
    'credit_score': np.random.normal(680, 50, n).astype(int)
})
df.head()

   income  monthly_spend  credit_score
0   86460           3129           661
1   66002           1191           668
2   74681           1237           734
3   93613           2581           712
4   88013           1296           712

## TODO: Implement at least 2 engineered features here

In [3]:
# Example feature 1:
df['spend_income_ratio'] = df['monthly_spend'] / df['income']

### Rationale for Spend-Income ratio
The spend-income ratio measures the fraction of income spent each month, and gives a good insight into their spending pattern. While the EDA shows a general trend where spend is grater for people with higher income, this ratio allows for a standardized comparison among people of different income levels.

In [7]:
# Example feature 2
df['rolling_spend_mean'] = df['monthly_spend'].rolling(3).mean().fillna(df['monthly_spend'])

### Rationale for Rolling spend mean
Rolling spend mean shows the 3 month rolling average of spending. It smooths out fluctuations from unusual spending (outliers) to show overall trends in spending behavior.

In [5]:
# Feature 3
df['estimated_savings'] = df['income'] / 12 - df['monthly_spend']

### Rationale for Estimated Savings
This feature calculates the estimated monthly savings by subtracting their monthly spending from their monthly income. It provides insights into users' financial health.

In [14]:
# Feature 4
bins = [300, 579, 669, 739, 799, 850]
labels = ['Poor', 'Fair', 'Good', 'Very Good', 'Excellent']
df['credit_band'] = pd.cut(df['credit_score'], bins=bins, labels=labels)

### Rationale for Credit Score Bands
This feature helps categorize people ontheir likelihood to default on a loan, based on their credit score. This is an important feature in business use cases, where the category is more important than the exact number.

In [15]:
df.head()

,income,monthly_spend,credit_score,spend_income_ratio,rolling_spend_mean,estimated_savings,is_high_risk,credit_band
0,86460,3129,661,0.036190,3129.000000,4076.000000,0,Fair
1,66002,1191,668,0.018045,1191.000000,4309.166667,0,Fair
2,74681,1237,734,0.016564,1852.333333,4986.416667,0,Good
3,93613,2581,712,0.027571,1669.666667,5220.083333,0,Good
4,88013,1296,712,0.014725,1704.666667,6038.416667,0,Good

In [16]:
df.to_csv('engineered_features.csv', index=False)